* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10px;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    filter: brightness(.8) contrast(.8);
    transition: .2s;
}

img.active {
    filter: unset;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 4.5rem;
}

p {
    max-width: 500px;
    line-height: 1.4;
    color: #333;
    font-size: 2rem;
    margin: 20px auto;
    padding: 0 15px;
}

a {
    color: #2563ad;
    text-decoration: none;
    opacity: .8;
    transition: transform .2s;
}

a:hover {
    opacity: 1;
}

a::before {
    content: '«';
    position: absolute;
    transform: translateX(calc(-100% - 5px));
    transition: transform .2s;
    will-change: transform;
}

a:hover::before {
    transform: translateX(calc(-100% - 8px));
}

@media (max-width: 500px) {

    html,
    body {
        font-size: 8px;
    }

    img {
        width: 128px;
    }
}